BEGIN TRANSACTION;
SET LOCAL client_min_messages TO WARNING;

-- Create migration user with elevated privileges
CREATE USER __PG_MIGRATION_USER__ WITH PASSWORD '__PG_MIGRATION_PSWD__';
GRANT ALL PRIVILEGES ON DATABASE __POSTGRES_DB__ TO __PG_MIGRATION_USER__;
GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO __PG_MIGRATION_USER__;
GRANT ALL PRIVILEGES ON ALL SEQUENCES IN SCHEMA public TO __PG_MIGRATION_USER__;

-- Create restricted app user with limited privileges
CREATE USER __PG_FCM_APP_USER__ WITH PASSWORD '__PG_FCM_APP_PSWD__';
GRANT CONNECT ON DATABASE __POSTGRES_DB__ TO __PG_FCM_APP_USER__;
GRANT USAGE ON SCHEMA public TO __PG_FCM_APP_USER__;

-- Current tables permissions
GRANT SELECT, INSERT, UPDATE, DELETE
ON ALL TABLES IN SCHEMA public 
TO __PG_FCM_APP_USER__;

-- Future tables permissions
ALTER DEFAULT PRIVILEGES FOR ROLE __PG_MIGRATION_USER__ IN SCHEMA public
GRANT SELECT, INSERT, UPDATE, DELETE ON TABLES TO __PG_FCM_APP_USER__;

-- Sequence permissions
GRANT USAGE, SELECT ON ALL SEQUENCES IN SCHEMA public TO __PG_FCM_APP_USER__;

ALTER DEFAULT PRIVILEGES FOR ROLE __PG_MIGRATION_USER__ IN SCHEMA public
GRANT USAGE, SELECT ON SEQUENCES TO __PG_FCM_APP_USER__;

-- Security hardening
REVOKE GRANT OPTION FOR ALL PRIVILEGES 
ON ALL TABLES IN SCHEMA public 
FROM __PG_FCM_APP_USER__ CASCADE;

REVOKE CREATE ON SCHEMA public FROM PUBLIC;
GRANT CREATE ON SCHEMA public TO __PG_MIGRATION_USER__;

COMMIT TRANSACTION;